{% extends 'base.html.twig' %}

{% block title %}Chevaux{% endblock %}

{% block main %}
    <div id="main_chevaux">
        <h1>Chevaux</h1>

        <a href="{{ path('newCheval') }}"><button class="btn btn-success">Enregistrer un nouveau cheval</button></a>

    </div>
{% endblock %}