{% extends 'base.html.twig' %}

{% block title %}Hippodromes{% endblock %}

{% block main %}
    <div id="main_hippodromes">
        <h1>Hippodromes</h1>

        <a href="{{ path('newHippodrome') }}"><button class="btn btn-success">Enregistrer un nouvel hippodrome</button></a>

    </div>
{% endblock %}