@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merry+Weather+Sans');

/* base.html.twig */

header {
    height: 70px;
    background-color: #2C3E50;
    color: white;
    font-family: 'Oleo Script', sans-serif;
    font-size: medium;
}

nav {
    text-align: center;
}

#header {
    line-height: 70px;
}

.row {
    margin-right: 0;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
}

#logo_accueil {
    height: 60px;
}

footer {
    height: 35px;
    background-color: #2C3E50;
    color: white;
    font-family: 'Oleo Script', sans-serif;
    font-size: medium;
}

#footer {
    line-height: 35px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    header {
        font-size: x-large;
    }
    footer {
        font-size: x-large;
    }
}


/* accueil.html.twig */

#main_accueil {
    background-image: url("../img/trot.jpg");
    background-size: cover;
    height: calc(100vh - 105px);
}


/* registration.html.twig */

#main_registration {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}


/* login.html.twig */

#main_login {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}

#logo_logout {
    height: 60px;
}


/* chevaux.html.twig */

#main_chevaux {
    height: calc(100vh - 105px);
    padding: 2%;
    background-color: #948c81;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#titre_chevaux {
    text-align: center;
    font-family: 'Oleo Script', sans-serif;
    padding-bottom: 2%;
}


/* newCheval.html.twig */

#main_newCheval {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}


/* hippodromes.html.twig */

#main_hippodromes {
    height: 460vh;
    padding: 1% 5% 5% 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
    text-align: center;
    font-size: x-large;
}

#conteneur {
    display: flex;
    margin-bottom: 1%;
}

.element {
    margin: auto;
    width: 50%;
}

.mini {
    width: 30%;
    height: 100px;
}

#element_titre {
    text-align: center;
}

#element_paint {
    text-align: right;
}

.a_liste {
    color: black;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}

.a_liste:hover {
    color: yellow;
}

.a_liste:hover:after {
    content: "+ d'infos sur l'hippodrome";
    display: inline-block;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 0 10px;
    position: absolute;
    bottom: 60%;
    width: 130px;
    font-size: 18px;
}

#liste {
    width: 25vh;
}


/* newHippodrome.html.twig */

#main_newHippodrome {
    height: 110vh;
    padding: 1% 5% 5% 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}


/* detail.html.twig */

#main_detail {
    background-color: #948c81;
    height: calc(100vh - 105px);
    color: black;
    text-align: center;
    padding-top: 1%;
    font-size: large;
}

#titre_detail {
    font-family: 'Merry Weather Sans', sans-serif;
    font-weight: bold;
    padding-bottom: 2%;
}

#conteneur_hippodrome {
    display: flex;
}

#div_paint {
    width: 100vh;
}

#paint {
    width: 90%;
}

#hippodrome_titres {
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 5% 0 0 5%;
}

#hippodrome_infos {
    font-family: 'Merry Weather Sans', sans-serif;
    text-align: left;
    padding: 5% 0 0 5%;
}


/* credits.html.twig */

#main_credits {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}