@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

/* base.html.twig */

header {
    height: 70px;
    background-color: #2C3E50;
    color: white;
    font-family: 'Oleo Script', sans-serif;
    font-size: medium;
}

nav {
    text-align: center;
}

#header {
    line-height: 70px;
}

.row {
    margin-right: 0;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

#logo_accueil {
    height: 60px;
}

footer {
    height: 35px;
    background-color: #2C3E50;
    color: white;
    font-family: 'Oleo Script', sans-serif;
    font-size: medium;
}

#footer {
    line-height: 35px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    header {
        font-size: x-large;
    }
    footer {
        font-size: x-large;
    }
}


/* accueil.html.twig */

#main_accueil {
    background-image: url("../img/trot.jpg");
    background-size: cover;
    height: calc(100vh - 105px);
}


/* registration.html.twig */

#main_registration {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}


/* login.html.twig */

#main_login {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}

#logo_logout {
    height: 60px;
}


/* chevaux.html.twig */

#main_chevaux {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}


/* newCheval.html.twig */

#main_newCheval {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}


/* hippodromes.html.twig */

#main_hippodromes {
    height: calc(100vh - 105px);
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}


/* newHippodrome.html.twig */

#main_newHippodrome {
    height: 120vh;
    padding: 5%;
    background-color: #948c81;
    color: white;
    font-family: 'Oleo Script', sans-serif;
}